@import "partials/variables";
@import "partials/common";
@mixin base-btn {
    padding: 5px;
    border-radius: 5px;
    font-weight: $bold-weight;
    img{
        width: 20px;
    }
    span{
        display: inline-block;
        vertical-align: super;
    }
}
.jumbotron{
    color: $primary-color;
    padding-bottom: 15px;
    background: url("./img/illustration-main.jpg");
    p, h1{
        width: 50%;
    }
    a{
        display: block;
        color: $primary-color;
    }
    h1{
        font-size: $font-big;
        padding: 20px 0px;
        line-height: 1.5;
    }
    button{
        @include base-btn;
        background-color: $btn-color;
        color: white;
        margin: 10px 0;
    }
    
}
main{
    background-color:$primary-bg;
    .container{
        border-bottom: 2px solid $primary-color;
    }
    h3{
        text-align: center;
        padding-top: 10px;
        color: $primary-color;
        line-height: 1.5;
    }
    .card-container{
        display: flex;
    }
    .card{
        padding: 10px;
        text-align: center;
        p{
            color:$primary-color
        }
        img{
            width: 100px;
            height: 100px;
        object-fit: contain;
        }
    }
    .before{
        margin: 20px auto;
        width: 50%;
        text-align: center;
        padding: 30px;
        img{
            width: 250px
        }
    }
}
@import "partials/nav";